%ul.nav.nav-pills.float-right
  - if user_signed_in?
    %li.nav-item
      = link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn btn-outline-primary'
  -else 
    %li.nav-item
      = link_to "Sign in", new_user_session_path, class: 'btn btn-outline-primary mr-sm-2'
    %li.nav-item
      = link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary mr-sm-2'